TrainingData/
prelim*/
Old/
2013Aug_PreliminaryFCAdjustment/
2013July_PreliminaryParamAdjustment/
2013Sept_BackUp-PreMzRotAmplitudeChange/
2013Sept_EarlyFC_TrainTestSamples/
BACKUP-PreMzRotAmplitudeChange/
errorCharacAndAnalysis/
listOfExperiments.txt

# Figures
*.png
*.jpeg
*.tiff
*.eps
*.db

# Initialization files
*.ini

# Microsoft files or Libre or OpenOffice
*.xls
*.xlsx
*.ods

# Shell or Batch Files
*.bat
*.sh
*.rb

# Vides
*.MTS
*.mp4
*.avi
*.mpg
*.mpeg
*.mov

# Adobe
*.pdf
*.ai

# Matlab
*.fig
*.mat

# Backup
*.*~